<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">CodeX</a>
  
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [ngClass]="{'active':tab==0}">
          <a class="nav-link" routerLink="/" (click)="tab=0">IDE
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" [ngClass]="{'active':tab==1}">
          <a class="nav-link" routerLink="/template" (click)="tab=1">Template</a>
        </li>
        <li class="nav-item" [ngClass]="{'active':tab==2}">
          <a class="nav-link" routerLink="/lib" (click)="tab=2">Library</a>
        </li>
  
        <!-- Dropdown -->
        <li class="nav-item dropdown" [ngClass]="{'active':tab==3}">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" (click)="tab=3">Dropdown</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" (click)="resetCreds()">Reset Credentials</a>
          </div>
        </li>
  
      </ul>
      <!-- Links -->
  
    </div>
    <!-- Collapsible content -->
  
  </nav>