<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark dark-color">

  <!-- Navbar brand -->
  <a class="navbar-brand" routerLink="/">CodeX</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active':tab==0}">
        <a class="nav-link" routerLink="/" (click)="tab=0">IDE
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{'active':tab==1}">
        <a class="nav-link" routerLink="/template" (click)="tab=1">Template</a>
      </li>
      <li class="nav-item" [ngClass]="{'active':tab==2}">
        <a class="nav-link" routerLink="/lib" (click)="tab=2">Library</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="resetAutosave()">Reset Editor</a>
      </li>


      <!-- Dropdown -->
      <li class="nav-item dropdown" [ngClass]="{'active':tab==3}">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" (click)="tab=3">Settings</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"
            [swal]="{ title: 'Support this Project!', html: 'Drop me a follow on Github, if u like this project :). It will hardly takes 2 min and will give me enough motivation to maintain this project :))', icon: 'question', confirmButtonText: 'My Github' }"
            (confirm)="redirectToGithub()">About</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item text-danger"
            [swal]="{ title: 'Reset Credentials', showDenyButton: true, denyButtonText: 'Don\'t reset'}"
            (confirm)="resetCreds()" (deny)="false">Reset Credentials</a>
        </div>
      </li>


    </ul>    
  </div>
  <div class="navbar-nav mr-auto" style="display: flex;justify-content: end;">
    <span class="nav-link active">Credits Used : {{ creditsUsed }}</span>
  </div>
  <!-- Collapsible content -->

</nav>